html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    /*transition: .3s;*/
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

footer {
    background-color: #000;
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu-overlay {
    background-color: #0C1316;
    width: 100%;
}

.hamburger {
    display: none;
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    width: 100%;
    height: 100vh;
    background-color: #0C1316;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.nav-links .text {
    text-decoration: none;
    color: white;
    font-size: 120px;
    line-height: 140px;
    height: 100px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    background: transparent;
    border-radius: 0 0 0 0;
}

.nav-links .text:hover,
.nav-links .text:focus {
}

.text:hover .letter,
.text.play .letter {
    transform: translateY(-100%);
}

.text .block:last-child {
    color: transparent;
    -webkit-text-stroke: 5px white;
}

.text .letter {
    display: inline-block;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}

.letter:nth-child(1) {
    transition-delay: 0s;
}
.letter:nth-child(2) {
    transition-delay: 0.02s;
}
.letter:nth-child(3) {
    transition-delay: 0.04s;
}
.letter:nth-child(4) {
    transition-delay: 0.08s;
}
.letter:nth-child(5) {
    transition-delay: 0.1s;
}
.letter:nth-child(6) {
    transition-delay: 0.12s;
}
.letter:nth-child(7) {
    transition-delay: 0.14s;
}
.letter:nth-child(8) {
    transition-delay: 0.16s;
}
.letter:nth-child(9) {
    transition-delay: 0.18s;
}
.letter:nth-child(10) {
    transition-delay: 0.2s;
}
.letter:nth-child(11) {
    transition-delay: 0.22s;
}

html.dark {
    background-color: #0d0950;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}

@media screen and (max-width: 930px) {
    .nav-links .text {
        text-decoration: none;
        color: white;
        font-size: 50px;
        line-height: 60px;
        height: 45px;
        font-weight: bold;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        background: transparent;
        border-radius: 0 0 0 0;
    }

    .text .block:last-child {
        color: transparent;
        -webkit-text-stroke: 2px white;
    }
}