:root {
    --primary-color: #FFF;
}

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: #0C1316;
    color: white;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    scroll-behavior: auto;
    /*transition: .3s;*/
}

*::-webkit-scrollbar {
    display: none;
}

.progress-container {
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 8px;
    background: #212A2C;
}

.progress-container .texts {
    font-size: 1rem;
    position: fixed;
    width: 60px;
    color: #0C1312;
    transform: rotate(-90deg) translateX(100%);
    transition: 1s ease;
}

.progress-container .texts:nth-child(1) {
    top: 32vh;
}

.progress-container .texts:nth-child(2) {
    top: 62vh;
}

.progress-container .texts:nth-child(3) {
    top: 92vh;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    width: 8px;
    z-index: 101;
    background: #f1f5f9;
    height: 0vh;
    transition: .2s ease;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

footer {
    background-color: #000;
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu-overlay {
    background-color: #0C1316;
    width: 100%;
}

.close-icon {
    position: fixed;
    background-color: #212A2C77;
    border-radius: 50%;
    box-shadow: 0 0 10px #212A2C;
}

.close-icon i:nth-child(1) {
    transition: 0.5s cubic-bezier(0.76, 0, 0.024, 1);
}

.close-icon:hover i:nth-child(1){
    opacity: 0;
    transform: scale(0) rotate(45deg);
}

.close-icon i:nth-child(2) {
    transition: 0.5s cubic-bezier(0.76, 0, 0.024, 1);
    transform: scale(.1) rotate(-135deg) translateY(4px);
    opacity: 0;
}

.close-icon:hover i:nth-child(2){
    opacity: 1;
    transform: scale(1) rotate(-180deg);
}

.nav-links {
    width: 100%;
    height: 100vh;
    background-color: #0C1316;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border-radius: inherit;
}

.nav-links .text {
    text-decoration: none;
    color: white;
    font-size: 120px;
    line-height: 140px;
    height: 100px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    background: transparent;
    border-radius: 0 0 0 0;
}

.nav-links .text:hover,
.nav-links .text:focus {
}

.text:hover .letter,
.text.play .letter {
    transform: translateY(-100%);
}

.text .block:last-child {
    color: transparent;
    -webkit-text-stroke: 5px white;
}

.text .letter {
    display: inline-block;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}

.letter:nth-child(1) {
    transition-delay: 0s;
}
.letter:nth-child(2) {
    transition-delay: 0.02s;
}
.letter:nth-child(3) {
    transition-delay: 0.04s;
}
.letter:nth-child(4) {
    transition-delay: 0.08s;
}
.letter:nth-child(5) {
    transition-delay: 0.1s;
}
.letter:nth-child(6) {
    transition-delay: 0.12s;
}
.letter:nth-child(7) {
    transition-delay: 0.14s;
}
.letter:nth-child(8) {
    transition-delay: 0.16s;
}
.letter:nth-child(9) {
    transition-delay: 0.18s;
}
.letter:nth-child(10) {
    transition-delay: 0.2s;
}
.letter:nth-child(11) {
    transition-delay: 0.22s;
}


section {
    min-height: 150vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 8rem;
    position: relative;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home .home-content h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 2rem;
}

.home-content span {
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

#experience, #projets, #surmoi {
    position: absolute;
    padding-top: 30px;
    top: 0;
    border-bottom: 1px solid white;
    height: 1px;
    width: 30%;
}

.projectContainer, .othersContainer {
    display: flex;
    gap: 2rem;
    width: 90vw;
}

.othersContainer {
    align-items: start;
}

.projectContainer:nth-child(3) {
    padding-top: 1.5rem;
}

.projectCard, .othersCard {
    position: relative;
    max-width: 500px;
    border-radius: 1rem;
    border: 2px solid #212A2C;
    padding: .75rem 1.5rem 1.5rem 1.5rem;
    background: radial-gradient(#212A2C, transparent);
    transition: 2s ease background-color, 2s ease box-shadow, .2s ease max-width;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.othersCard .row {
    display: flex;
    align-items: start;
    margin-bottom: 2rem;
    height: 100%;
}

.othersCard .row .lines {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.othersCard .row .wrappedLines {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.othersCard h2 {
    font-size: 2rem !important;
    padding: .5rem 0 !important;
}
.othersCard .row .lines p {
    display: flex;
    font-size: 1.2rem !important;
    gap: 1rem;
    align-items: center;
}

.balisesComp {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: .5rem 0 1rem 0;
}

.balisesComp p {
    font-size: 1rem !important;
    line-height: .5rem;
    color: #f1f5f955;
    transition: .5s ease;
}

.doubleImgContainer {
    /*max-width: 200px !important;*/
    max-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.doubleImgContainer::before {
    content: '';
    width: 1px;
    height: 1px;
    position: relative;
    margin-bottom: 30%;
    left: 50%;
    box-shadow: 0 0 100px 40px #f1f5f9;
}

.doubleImgContainer .imgContainer {
    width: 150px;
    z-index: 1;
    transform: translate(30%, 0%);
    transition: 1s ease;
    transition-delay: .1s;
}

.doubleImgContainer .imgContainer:nth-child(2) {
    transform: rotate(25deg) translate(0%, 0%);
    width: 100px;
    height: 120px;
    z-index: 0;
    transition-delay: .2s;
}

.othersCard:hover .doubleImgContainer .imgContainer:nth-child(1) {
    transform: rotate(-10deg) translate(10%, 10%) scale(1.1);
}

.othersCard:hover .doubleImgContainer .imgContainer:nth-child(2) {
    transform: rotate(10deg) translate(20%, 0%) scale(1.3);
}

.imgContainer {
    max-width: 150px;
    aspect-ratio: 1;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.projectContainer .projectCard .imgContainer {
    border: 2px solid #212A2C22;
}

.projectContainer:nth-child(2) .projectCard:nth-child(2) {
    max-width: 600px;
}
.projectContainer:nth-child(3) .projectCard:nth-child(1) {
    max-width: 600px;
}

.othersContainer:nth-child(2) .othersCard:nth-child(1) {
    max-width: 850px;
}
.othersContainer:nth-child(2) .othersCard:nth-child(2) {
    width: 350px;
    min-width: 350px;
    background-color: #212A2C;
}

.projectCard:hover, .othersCard:hover {
    background-color: #212A2C;
    box-shadow: 0 0 100px 10px #212A2C;
}

.technosContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    margin: 1rem 0 2rem 0;
}

.technosContainer p {
    font-size: 1rem !important;
}

.technos {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.lBtn , .technosBtn {
    border: 2px solid #212A2C;
    background: radial-gradient(transparent, #212A2C);
    padding: .5rem 1rem;
    position: relative;
    top: .5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 150px;
    width: fit-content;
    gap: 2rem;
    transition: 1s ease;
    overflow: hidden;
}

.wrappedLines .lBtn {
    max-width: unset;
    gap: .5rem;
    font-weight: normal;
    font-size: .85rem !important;
}

.technosBtn {
    max-width: none;
    gap: .5rem;
}

.vuejs {
    border: 2px solid #34495E33;
}
.laravel {
    border: 2px solid #F0534022;
}
.php {
    border: 2px solid #AEB2D522;
}
.nuxt {
    border: 2px solid #00DC8211;
}
.javascript {
    border: 2px solid #F0DB4F22;
}
.html {
    border: 2px solid #F1652922;
}
.css {
    border: 2px solid #264de422;
}

.technosBtn::before {
    content: '';
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

.vuejs::before {
    background: radial-gradient(transparent 50%, #34495E33);
}
.laravel::before {
    background: radial-gradient(transparent 50%, #F0534022);
}
.php::before {
    background: radial-gradient(transparent 50%, #AEB2D522);
}
.nuxt::before {
    background: radial-gradient(transparent 50%, #00DC8211);
}
.javascript::before {
    background: radial-gradient(transparent 50%, #F0DB4F22);
}
.html::before {
    background: radial-gradient(transparent 50%, #F1652922);
}
.css::before {
    background: radial-gradient(transparent 50%, #264de422);
}

.projectCard:hover .lBtn{
    border: 2px solid #f1f5f9;
}

.othersCard:nth-child(1):hover .lBtn {
    border: 2px solid #f1f5f9;
}

.othersCard:nth-child(2) .lBtn {
    border: 2px solid #f1f5f911;
}

.othersCard:nth-child(2) .lBtn:hover {
    border: 2px solid #f1f5f9;
}

@media screen and (max-width: 1100px) {
    .projectContainer {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .othersContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .othersCard .row p {
        font-size: 1rem !important;
    }

    .projectCard {
        max-width: 500px !important;
        margin-right: 2rem;
    }

    .othersContainer:nth-child(2) .othersCard:nth-child(2) {
        max-width: 500px;
    }
}

h4 {
    font-size: 1.5rem !important;
    padding-bottom: 1rem;
}

.home-content p {
    font-size: 1.6rem;
}

.home .home-content li p {
    font-size: 1rem;
}

.home-img img {
    position: relative;
    width: 32vw;
    border: .2rem solid var(--primary-color);
    border-radius: 50%;
    filter: grayscale(1) blur(80px);
    animation: bgcolor 100s infinite linear; /* Added ease-in-out for smooth transitions */
}

@keyframes bgcolor {
    0% {
        transform: translate(-140%, -20%) ;
    }
    20% {
        transform: scale(2) translate(-130%, -10%) ;
        filter: grayscale(0) blur(80px);
    }
    40% {
        transform: translate(-140%, 0%);
        filter: grayscale(1) blur(80px);
    }
    60% {
        transform: scale(2) translate(-110%, 10%);
        filter: grayscale(0) blur(80px);
    }
    80%{
        transform: scale(1.5) translate(-110%, -10%);
        filter: grayscale(0) blur(100px);
    }
    100% {
        transform: scale(1) translate(-140%, -20%);
        filter: grayscale(1) blur(80px);
    }
}

.social-icons a {
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    margin: 3rem 1.5rem 3rem 0;
    padding-left: 1.25rem;
    transition: 1s ease;
    color: #f1f5f9CC;
    overflow: hidden;
    gap: 1.2rem;
    max-width: unset;
}

.social-icons a:nth-child(1):hover {
    color: #f1f5f9;
    width: 180px;
}
.social-icons a:nth-child(2):hover {
    color: #f1f5f9;
    width: 170px;
}
.social-icons a:nth-child(3):hover {
    color: #f1f5f9;
    width: 150px;
}

.social-icons a::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.social-icons a:nth-child(1) {
    border: 2px solid #0A66C222;
    background: radial-gradient(transparent 50%, #0A66C222);
}
.social-icons a:nth-child(2) {
    border: 2px solid #8F32FE22;
    background: radial-gradient(transparent 50%, #8F32FE22);
}
.social-icons a:nth-child(3) {
    border: 2px solid #D4463833;
    background: radial-gradient(transparent 50%, #D4463833);
}
.social-icons a:nth-child(1)::before {
    background: radial-gradient(transparent 50%, #0A66C222);
}
.social-icons a:nth-child(2)::before {
    background: radial-gradient(transparent 50%, #8F32FE22);
}
.social-icons a:nth-child(3)::before {
    background: radial-gradient(transparent 50%, #D4463833);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #212A2C;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: .3rem;
    font-weight: 600;
    border: 2px solid var(--primary-color);
    transition: .3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: var(--primary-color);
    color: #212A2C;
    box-shadow: 0 0 25px var(--primary-color);
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.typing-text span {
    position: relative;
    z-index: 0;
    -webkit-text-stroke: 0 white;
}

.typing-text span::before {
    content: "";
    color: var(--primary-color);
    position: relative;
    animation: words 10s infinite;
}

.typing-text span::after {
    content: "";
    background: #212A2C;
    position: absolute;
    width: 0;
    height: 100%;
    right: -8px;
    border-left: 3px solid #212A2C;
    animation: cursor .6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid var(--primary-color);
    }
}

@keyframes words {
    0%, 28% {
        content: 'Développeur Web';
    }
    29% {
        content: 'Développeur We';
    }
    30%{
        content: 'Développeur W';
    }
    31% {
        content: "Développeur ";
    }
    32%, 60% {
        content: "Développeur ";
    }
    61% {
        content: 'Développeur d';
    }
    62% {
        content: "Développeur d'";
    }
    63% {
        content: 'Développeur d\'a';
    }
    64% {
        content: 'Développeur d\'ap';
    }
    65%, 93% {
        content: 'Développeur d\'app';
    }
    94% {
        content: 'Développeur d\'ap';
    }
    95% {
        content: 'Développeur d\'a';
    }
    96% {
        content: 'Développeur d\'';
    }
    97% {
        content: 'Développeur d';
    }
    98% {
        content: 'Développeur ';
    }
    99% {
        content: 'Développeur W';
    }
    100% {
        content: 'Développeur We';
    }
}

@media (max-width: 1378px) {
    .home .home-content h3 {
        font-size: 3rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .othersCard .row {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: start;
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    #accueil {
        flex-direction: column !important;
        transform: translateY(-10%);
    }

    #accueil .home-content {
        transform: translateY(15%);
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
        transform: translateX(-100%) translateY(-50%);
    }
    @keyframes bgcolor {
        0% {
            transform: translate(-120%, -40%) ;
        }
        20% {
            transform: scale(2) translate(-120%, -30%) ;
            filter: grayscale(0) blur(80px);
        }
        40% {
            transform: translate(-140%, 0%);
            filter: grayscale(1) blur(80px);
        }
        60% {
            transform: scale(2) translate(-110%, -10%);
            filter: grayscale(0) blur(80px);
        }
        80%{
            transform: scale(1.5) translate(-110%, -30%);
            filter: grayscale(0) blur(100px);
        }
        100% {
            transform: scale(1) translate(-120%, -40%);
            filter: grayscale(1) blur(80px);
        }
    }
}

@media screen and (max-width: 930px) {
    .nav-links .text {
        text-decoration: none;
        color: white;
        font-size: 50px;
        line-height: 60px;
        height: 45px;
        font-weight: bold;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        background: transparent;
        border-radius: 0 0 0 0;
    }

    .text .block:last-child {
        color: transparent;
        -webkit-text-stroke: 2px white;
    }

    .othersCard {
        max-width: 500px !important;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 650px) {
    #accueil {
        flex-direction: column !important;
        transform: translateY(-10%);
    }

    #accueil .home-content {
        transform: translateY(15%);
    }
    .nav-links .text {
        text-decoration: none;
        color: white;
        font-size: 40px;
        line-height: 45px;
        height: 35px;
        font-weight: bold;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        background: transparent;
        border-radius: 0 0 0 0;
    }

    .text .block:last-child {
        color: transparent;
        -webkit-text-stroke: 1px white;
    }

    .home .home-content h3 {
        font-size: 1.4rem;
    }

    .home .home-content h1 {
        font-size: 3.5rem;
    }

    .home .home-content h2 {
        font-size: 2rem;
    }

    .home .home-content h4 {
        font-size: 1.5rem;
    }

    .home .home-content li p {
        font-size: 1rem;
    }

    .social-icons a {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        padding-left: .95rem;
        border-radius: 1rem;
        margin: 3rem .5rem 3rem 0;
    }
    .social-icons a:nth-child(1):hover {
        width: 135px;
    }
    .social-icons a:nth-child(2):hover {
        width: 125px;
    }
    .social-icons a:nth-child(3):hover {
        width: 115px;
    }

    .progress-container .texts {
        display: none;
    }

    .imgContainer {
        max-width: 100px;
    }

    .doubleImgContainer .imgContainer:nth-child(2) {
        width: 70px;
        height: 90px;
    }

    .othersContainer:nth-child(2) .othersCard:nth-child(2) {
        max-width: 350px;
        min-width: unset;
    }
}