:root {
    --primary-color: #FFF;
}

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: #0C1316;
    color: white;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    scroll-behavior: auto;
    /*transition: .3s;*/
}

*::-webkit-scrollbar {
    display: none;
}

.progress-container {
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 8px;
    background: #212A2C;
}

.progress-container .texts {
    font-size: 1rem;
    position: fixed;
    width: 60px;
    color: #0C1312;
    transform: rotate(-90deg) translateX(100%);
    transition: 1s ease;
}

.progress-container .texts:nth-child(1) {
    top: 32vh;
}

.progress-container .texts:nth-child(2) {
    top: 62vh;
}

.progress-container .texts:nth-child(3) {
    top: 92vh;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    width: 8px;
    z-index: 101;
    background: #f1f5f9;
    height: 0vh;
    transition: .2s ease;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

footer {
    background-color: #000;
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu-overlay {
    background-color: #0C1316;
    width: 100%;
}

.close-icon {
    position: fixed;
    background-color: #212A2C77;
    border-radius: 50%;
    box-shadow: 0 0 10px #212A2C;
}

.close-icon i:nth-child(1) {
    transition: 0.5s cubic-bezier(0.76, 0, 0.024, 1);
}

.close-icon:hover i:nth-child(1){
    opacity: 0;
    transform: scale(0) rotate(45deg);
}

.close-icon i:nth-child(2) {
    transition: 0.5s cubic-bezier(0.76, 0, 0.024, 1);
    transform: scale(.1) rotate(-135deg) translateY(4px);
    opacity: 0;
}

.close-icon:hover i:nth-child(2){
    opacity: 1;
    transform: scale(1) rotate(-180deg);
}

.nav-links {
    width: 100%;
    height: 100vh;
    background-color: #0C1316;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border-radius: inherit;
}

.nav-links .text {
    text-decoration: none;
    color: white;
    font-size: 120px;
    line-height: 140px;
    height: 100px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    background: transparent;
    border-radius: 0 0 0 0;
}

.nav-links .text:hover,
.nav-links .text:focus {
}

.text:hover .letter,
.text.play .letter {
    transform: translateY(-100%);
}

.text .block:last-child {
    color: transparent;
    -webkit-text-stroke: 5px white;
}

.text .letter {
    display: inline-block;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}

.letter:nth-child(1) {
    transition-delay: 0s;
}
.letter:nth-child(2) {
    transition-delay: 0.02s;
}
.letter:nth-child(3) {
    transition-delay: 0.04s;
}
.letter:nth-child(4) {
    transition-delay: 0.08s;
}
.letter:nth-child(5) {
    transition-delay: 0.1s;
}
.letter:nth-child(6) {
    transition-delay: 0.12s;
}
.letter:nth-child(7) {
    transition-delay: 0.14s;
}
.letter:nth-child(8) {
    transition-delay: 0.16s;
}
.letter:nth-child(9) {
    transition-delay: 0.18s;
}
.letter:nth-child(10) {
    transition-delay: 0.2s;
}
.letter:nth-child(11) {
    transition-delay: 0.22s;
}


section {
    height: 150vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 8rem;
    position: relative;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home .home-content h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 2rem;
}

.home-content span {
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

#experience, #projets, #surmoi {
    position: absolute;
    padding-top: 30px;
    top: 0;
    border-bottom: 1px solid white;
    height: 1px;
    width: 30%;
}

.projectContainer {
    display: flex;
    gap: 2rem;
    /*flex-wrap: wrap;*/
}

.projectCard {
    max-width: 600px;
    border-radius: 1rem;
    border: 2px solid #212A2C;
    padding: .75rem 1.5rem 1.5rem 1.5rem;
    background: radial-gradient(#212A2C, transparent);
    transition: 2s ease;
    cursor: pointer;
}

.projectCard:hover {
    background-color: #212A2C;
    box-shadow: 0 0 100px 10px #212A2C;
}

.technosContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    margin: 1rem 0 2rem 0;
}

.technosContainer p {
    font-size: 1rem !important;
}

.technos {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.lBtn , .technosBtn {
    border: 2px solid #212A2C;
    background: radial-gradient(transparent, #212A2C);
    padding: .5rem 1rem;
    position: relative;
    top: .5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120px;
    gap: .5rem;
    transition: 1s ease;
    overflow: hidden;
}

.technosBtn {
    max-width: none;
}

.vuejs {
    border: 2px solid #34495E33;
}
.laravel {
    border: 2px solid #F0534022;
}
.php {
    border: 2px solid #AEB2D522;
}
.nuxt {
    border: 2px solid #00DC8211;
}
.javascript {
    border: 2px solid #F0DB4F22;
}

.technosBtn::before {
    content: '';
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

.vuejs::before {
    background: radial-gradient(transparent 50%, #34495E33);
}
.laravel::before {
    background: radial-gradient(transparent 50%, #F0534022);
}
.php::before {
    background: radial-gradient(transparent 50%, #AEB2D522);
}
.nuxt::before {
    background: radial-gradient(transparent 50%, #00DC8211);
}
.javascript::before {
    background: radial-gradient(transparent 50%, #F0DB4F22);
}

.projectCard:hover .lBtn{
    border: 2px solid #f1f5f9;
}

@media screen and (max-width: 1100px) {
    .projectContainer {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .projectCard {

    }
}

h4 {
    font-size: 1.5rem !important;
    padding-bottom: 1rem;
}

.home-content p {
    font-size: 1.6rem;
}

.home .home-content li p {
    font-size: 1rem;
}



.home-img img {
    position: relative;
    width: 32vw;
    border: .2rem solid var(--primary-color);
    border-radius: 50%;
    filter: grayscale(1) blur(80px);
    animation: bgcolor 100s infinite linear; /* Added ease-in-out for smooth transitions */
}

@keyframes bgcolor {
    0% {
        transform: translate(-140%, -20%) ;
    }
    20% {
        transform: scale(2) translate(-130%, -10%) ;
        filter: grayscale(0) blur(80px);
    }
    40% {
        transform: translate(-140%, 0%);
        filter: grayscale(1) blur(80px);
    }
    60% {
        transform: scale(2) translate(-110%, 10%);
        filter: grayscale(0) blur(80px);
    }
    80%{
        transform: scale(1.5) translate(-110%, -10%);
        filter: grayscale(0) blur(100px);
    }
    100% {
        transform: scale(1) translate(-140%, -20%);
        filter: grayscale(1) blur(80px);
    }
}

.social-icons a {
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--primary-color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
    color: var(--primary-color);
}

.social-icons a:hover {
    color: #212A2C;
    background-color: var(--primary-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #212A2C;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: .3rem;
    font-weight: 600;
    border: 2px solid var(--primary-color);
    transition: .3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: var(--primary-color);
    color: #212A2C;
    box-shadow: 0 0 25px var(--primary-color);
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.typing-text span {
    position: relative;
    z-index: 0;
    -webkit-text-stroke: 0 white;
}

.typing-text span::before {
    content: "";
    color: var(--primary-color);
    position: relative;
    animation: words 10s infinite;
}

.typing-text span::after {
    content: "";
    background: #212A2C;
    position: absolute;
    width: 0;
    height: 100%;
    right: -8px;
    border-left: 3px solid #212A2C;
    animation: cursor .6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid var(--primary-color);
    }
}

@keyframes words {
    0%, 28% {
        content: 'Développeur Web';
    }
    29% {
        content: 'Développeur We';
    }
    30%{
        content: 'Développeur W';
    }
    31% {
        content: "Développeur ";
    }
    32%, 60% {
        content: "Développeur ";
    }
    61% {
        content: 'Développeur d';
    }
    62% {
        content: "Développeur d'";
    }
    63% {
        content: 'Développeur d\'a';
    }
    64% {
        content: 'Développeur d\'ap';
    }
    65%, 93% {
        content: 'Développeur d\'app';
    }
    94% {
        content: 'Développeur d\'ap';
    }
    95% {
        content: 'Développeur d\'a';
    }
    96% {
        content: 'Développeur d\'';
    }
    97% {
        content: 'Développeur d';
    }
    98% {
        content: 'Développeur ';
    }
    99% {
        content: 'Développeur W';
    }
    100% {
        content: 'Développeur We';
    }
}

@media (max-width: 1378px) {
    .home .home-content h3 {
        font-size: 3rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    #accueil {
        flex-direction: column !important;
        transform: translateY(-10%);
    }

    #accueil .home-content {
        transform: translateY(15%);
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
        transform: translateX(-100%) translateY(-50%);
    }
    @keyframes bgcolor {
        0% {
            transform: translate(-120%, -40%) ;
        }
        20% {
            transform: scale(2) translate(-120%, -30%) ;
            filter: grayscale(0) blur(80px);
        }
        40% {
            transform: translate(-140%, 0%);
            filter: grayscale(1) blur(80px);
        }
        60% {
            transform: scale(2) translate(-110%, -10%);
            filter: grayscale(0) blur(80px);
        }
        80%{
            transform: scale(1.5) translate(-110%, -30%);
            filter: grayscale(0) blur(100px);
        }
        100% {
            transform: scale(1) translate(-120%, -40%);
            filter: grayscale(1) blur(80px);
        }
    }
}

@media screen and (max-width: 930px) {
    .nav-links .text {
        text-decoration: none;
        color: white;
        font-size: 50px;
        line-height: 60px;
        height: 45px;
        font-weight: bold;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        background: transparent;
        border-radius: 0 0 0 0;
    }

    .text .block:last-child {
        color: transparent;
        -webkit-text-stroke: 2px white;
    }
}

@media screen and (max-width: 650px) {
    #accueil {
        flex-direction: column !important;
        transform: translateY(-10%);
    }

    #accueil .home-content {
        transform: translateY(15%);
    }
    .nav-links .text {
        text-decoration: none;
        color: white;
        font-size: 40px;
        line-height: 45px;
        height: 35px;
        font-weight: bold;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        background: transparent;
        border-radius: 0 0 0 0;
    }

    .text .block:last-child {
        color: transparent;
        -webkit-text-stroke: 1px white;
    }

    .home .home-content h3 {
        font-size: 1.4rem;
    }

    .home .home-content h1 {
        font-size: 3.5rem;
    }

    .home .home-content h2 {
        font-size: 2rem;
    }

    .home .home-content h4 {
        font-size: 1.5rem;
    }

    .home .home-content li p {
        font-size: 1rem;
    }

    .social-icons a {
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        border: .2rem solid var(--primary-color);
        font-size: 1.5rem;
        border-radius: 50%;
        margin: 3rem 1.5rem 3rem 0;
        transition: .3s ease;
        color: var(--primary-color);
    }

    .progress-container .texts {
        display: none;
    }
}