---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import HockeyTeamItem from "../components/HockeyTeamItem.vue";
const pageTitle = "Milo Gourvest - Portfolio";
const birth = new Date('2004-07-23');
const today = new Date();

let age = today.getFullYear() - birth.getFullYear();

const hasBirthPassed = (today.getMonth() > birth.getMonth()) ||
    (today.getMonth() === birth.getMonth() && today.getDate() >= birth.getDate());

if (!hasBirthPassed) {
    age--;
}
---
<BaseLayout pageTitle={pageTitle}>
    <section class="home" id="accueil">
        <div class="home-content">
            <h1>Milo <span>Gourvest</span></h1>
            <h3 class="typing-text">Je suis <span></span></h3>
            <p>
                Étudiant en 3e année de BUT Informatique à l'IUT de Lannion, et alternant en tant que développeur web full stack chez <a href="#askorad">Askorad</a>.</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/milo-gourvest-626231269/" target="_blank" class="lBtn"><i class="fa-brands fa-linkedin"/> Linkedin</a>
                <a href="https://github.com/cassoule" target="_blank" class="lBtn"><i class="fa-brands fa-github"/> GitHub</a>
                <a href="mailto:milo.grv@gmail.com" target="_blank" class="lBtn"><i class="fas fa-envelope"/> Email</a>
            </div>
        </div>
    </section>
    <section class="home">
        <div id="experience"></div>
        <div class="home-content">
            <h2>Experience</h2>
            <div class="projectContainer">
                <div class="projectCard"  style="justify-content: start">
                    <h4>Parcours universitaire</h4>
                    <ol class="relative border-s ml-3">
                        <li class="ms-4">
                            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                            <time class="mb-1 text-sm font-normal leading-none">Septembre 2022 - Juin 2025</time>
                            <h4 class="text-lg font-semibold mt-2">BUT Informatique</h4>
                            <p class="mb-4 text-base font-normal text-gray-300 text-pretty">
                                Obtention de mon diplôme prévue pour Juillet 2025.
                            </p>
                        </li>
                        <li class="ms-4">
                            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                            <time class="mb-1 text-sm font-normal leading-none">Juillet 2022</time>
                            <h4 class="text-lg font-semibold mt-2">Bac Général - Maths & NSI</h4>
                            <p class="mb-4 text-base font-normal text-gray-300 text-pretty">
                                Obtention de mon baccalauréat général avec les spécialités Maths et NSI.
                            </p>
                        </li>
                    </ol>
                </div>
                <div class="projectCard">
                    <h4>Professionnel</h4>
                    <ol class="relative border-s ml-3">
                        <li class="ms-4">
                            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                            <time class="mb-1 text-sm font-normal leading-none">Septembre 2024 - Août 2025</time>
                            <h4 class="text-lg font-semibold mt-2">Alternance - Développement web - <a href="#askorad">Chez Askorad</a></h4>
                            <p class="mb-4 text-base font-normal text-gray-300 text-pretty">
                                Suite du stage et développement d'autres web app.
                            </p>
                        </li>
                        <li class="ms-4">
                            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                            <time class="mb-1 text-sm font-normal leading-none">Avril 2024 - Juin 2024</time>
                            <h4 class="text-lg font-semibold mt-2">Stage - Développement de web app - Laravel et Vue.js - <a href="#askorad">Chez Askorad</a></h4>
                            <p class="mb-4 text-base font-normal text-gray-300 text-pretty">
                                Développement d'une web app de gestion d'entreprise (ventes, conseillers, clients, stocks, etc).
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="home">
        <div id="projets"></div>
        <div class="home-content">
            <h2>Projets</h2>
            <div class="projectContainer">
                <div class="projectCard">
                    <h2 style="padding-bottom: 0; display: flex; justify-content: space-between">Web App<p class="text-sky-100">Pro</p></h2>
                    <div class="balisesComp">
                        <p class="pro-detail-text"><a href="#askorad">Chez Askorad</a></p>
                    </div>
                    <div class="balisesComp">
                        <p>Réaliser</p>
                        <p>Optimiser</p>
                        <p>Administrer</p>
                        <p>Collaborer</p>
                    </div>
                    <p class="text-gray-300 text-lg">
                        Différentes web app utilisant notamment les technologies Laravel, Vue.js ou encore Nuxt.
                    </p>
                    <div>
                        <div class="technosContainer">
                            <div class="technos">
                                <a href="https://vuejs.org/" target="_blank" class="technosBtn vuejs">Vue.js <i class="fa-brands fa-vuejs"></i></a>
                                <a href="https://laravel.com/" target="_blank" class="technosBtn laravel">Laravel <i class="fa-brands fa-laravel"></i></a>
                                <a href="https://nuxt.com/" target="_blank" class="technosBtn nuxt">Nuxt <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" fill="none">
                                    <path d="M281.44 397.667H438.32C443.326 397.667 448.118 395.908 452.453 393.427C456.789 390.946 461.258 387.831 463.76 383.533C466.262 379.236 468.002 374.36 468 369.399C467.998 364.437 466.266 359.563 463.76 355.268L357.76 172.947C355.258 168.65 352.201 165.534 347.867 163.053C343.532 160.573 337.325 158.813 332.32 158.813C327.315 158.813 322.521 160.573 318.187 163.053C313.852 165.534 310.795 168.65 308.293 172.947L281.44 219.587L227.733 129.13C225.229 124.834 222.176 120.307 217.84 117.827C213.504 115.346 208.713 115 203.707 115C198.701 115 193.909 115.346 189.573 117.827C185.238 120.307 180.771 124.834 178.267 129.13L46.8267 355.268C44.3208 359.563 44.0022 364.437 44 369.399C43.9978 374.36 44.3246 379.235 46.8267 383.533C49.3288 387.83 53.7979 390.946 58.1333 393.427C62.4688 395.908 67.2603 397.667 72.2667 397.667H171.2C210.401 397.667 238.934 380.082 258.827 346.787L306.88 263.4L332.32 219.587L410.053 352.44H306.88L281.44 397.667ZM169.787 352.44H100.533L203.707 174.36L256 263.4L221.361 323.784C208.151 345.387 193.089 352.44 169.787 352.44Z" fill="white"/>
                                </svg></a>
                            </div>
                        </div>

                        <a href="https://drive.google.com/drive/folders/1xCPxHfBGDaH3r1mvBEPpNJnP8uggwzJY?usp=sharing" target="_blank" class="lBtn">Screens <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="projectCard">
                    <h2 style="padding-bottom: 0; display: flex; justify-content: space-between">ALHaIZ Breizh<p class="text-amber-100">Uni</p></h2>
                    <div class="balisesComp">
                        <p>Réaliser</p>
                        <p>Optimiser</p>
                        <p>Administrer</p>
                        <p>Collaborer</p>
                    </div>
                    <p class="text-gray-300 text-lg">
                        Un site web dédié à la location d'hébergements en Bretagne, développé avec PHP.
                    </p>
                    <div>
                        <div class="technosContainer">
                            <div class="technos">
                                <a class="technosBtn php">PHP <i class="fa-brands fa-php"></i></a>
                                <a class="technosBtn javascript">JavaScript <i class="fa-brands fa-js"></i></a>
                            </div>
                        </div>
                        <a href="https://github.com/cassoule/sae34_2a4" target="_blank" class="lBtn">Voir <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
            <div class="projectContainer">
                <div class="projectCard">
                    <h2 style="padding-bottom: 0; display: flex; justify-content: space-between">Food Relay<p class="text-sky-100">Pro</p></h2>
                    <div class="balisesComp">
                        <p class="pro-detail-text">Auto-entrepeneur</p>
                    </div>
                    <div class="balisesComp">
                        <p>Réaliser</p>
                        <p>Optimiser</p>
                        <p>Administrer</p>
                        <p>Gérer</p>
                        <p>Conduire</p>
                        <p>Collaborer</p>
                    </div>

                    <p class="text-gray-300 text-lg">
                        Projet professionnel individuel de site de livraison de nourriture dans des stades.<br>
                    </p>
                    <div>
                        <div class="technosContainer">
                            <div class="technos">
                                <a href="https://www.figma.com/fr-fr/" target="_blank" class="technosBtn figma">Figma <i class="fa-brands fa-figma"></i></a>
                                <a class="technosBtn enCours">En cours... <i class="fa-regular fa-clock"></i></a>
                            </div>
                        </div>
                        <a href="https://www.figma.com/proto/iKf7LZPbntWwjAbZUpapg8/Food-Relay?node-id=1-2&t=0nbN0PupYmpgHpjQ-1&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=1%3A2" target="_blank" class="lBtn">Maquette <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="projectCard">
                    <h2 style="padding-bottom: 0; display: flex; justify-content: space-between">Projet Pokemon<p class="text-amber-100">Uni</p></h2>
                    <div class="balisesComp">
                        <p>Réaliser</p>
                        <p>Optimiser</p>
                        <p>Collaborer</p>
                    </div>
                    <p class="text-gray-300 text-lg">
                        Un site web simple, exploitant des données .json de Pokemon en JavaScript.
                    </p>
                    <div>
                        <div class="technosContainer">
                            <div class="technos">
                                <a class="technosBtn javascript">JavaScript <i class="fa-brands fa-js"></i></a>
                                <a class="technosBtn html">HTML <i class="fa-brands fa-html5"></i></a>
                                <a class="technosBtn css">CSS <i class="fa-brands fa-css3"></i></a>
                            </div>
                        </div>

                        <a href="https://github.com/cassoule/pokemon-S4-project" target="_blank" class="lBtn">Voir <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home">
        <div id="surmoi"></div>
        <div class="home-content">
            <h2>Autres</h2>
            <div class="othersContainer">
                <div class="othersCard">
                    <h2>Moi</h2>
                    <div class="row">
                        <div class="lines">
                            <p class="text-gray-300 text-lg text-pretty">Alternant en BUT Informatique à l'IUT de Lannion, spécialisé dans le développement d'applications.</p>
                            <p class="text-gray-300 text-lg text-pretty">Passionné par le développement web et l'intelligence artificielle, je suis toujours curieux d'apprendre et à la recherche de nouveaux défis pour élargir mes compétences.</p>
                            <p class="text-gray-300 text-lg text-pretty">J'envisage de continuer mes études en école d'ingénieur à compter de l'année prochaine (2025/26).</p>
                        </div>
                        <div class="doubleImgContainer">
                            <div class="imgContainer">
                                <img src="photo.jpg" alt=""/>
                            </div>
                            <div class="imgContainer">
                                <img src="photo2.png" alt=""/>
                            </div>
                        </div>
                    </div>
                    <a href="cv.pdf" target="_blank" class="lBtn">Mon CV <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="othersCard">
                    <h2>Liens</h2>
                    <div class="row">
                        <div class="wrappedLines">
                            <a href="https://www.linkedin.com/in/milo-gourvest-626231269/" target="_blank" class="text-gray-300 text-lg lBtn"><i class="fa-brands fa-linkedin-in"></i> Linkedin</a>
                            <a href="https://github.com/cassoule" target="_blank" class="text-gray-300 text-lg lBtn"><i class="fa-brands fa-github"></i> GitHub</a>
                            <a class="text-gray-300 text-lg lBtn"><i class="fa-solid fa-phone"></i> 06 10 92 97 90</a>
                            <a href="mailto:milo.grv@gmail.com" class="text-gray-300 text-lg lBtn"><i class="fa-regular fa-envelope"></i> milo.grv@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="othersContainer" style="margin-top: 2rem">
                <div class="othersCard" id="askorad">
                    <h2>Askorad</h2>
                    <div class="row">
                        <div class="lines">
                            <p class="text-gray-300 text-lg text-pretty">TRANSFORMATION NUMERIQUE DES TPE-PME</p>
                            <p class="text-gray-300 text-lg text-pretty">ASKORAD accompagne les dirigeants des TPE et PME en préconisant et en mettant en place des process et des outils adaptés afin de mieux collaborer, mieux communiquer, mieux décider et améliorer la performance.</p>
                            <p class="text-gray-300 text-lg text-pretty">Conseil - Développement - Intégration</p>
                        </div>
                    </div>
                    <a href="https://www.askorad.fr/" target="_blank" class="lBtn">Site <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>
