---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header class="shadow sticky top-0 z-50">
    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
</header>
