---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle }= Astro.props

let happy = false;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <title>{pageTitle}</title>
</head>
<body>
<div id="app">
    <div id="header"
         style="opacity: 1; pointer-events: none;transform: translateY(-100%); transition: 0.6s cubic-bezier(0.76, 0, 0.024, 1); border-radius: 0 0 0 100%; z-index: 9;"
         class="menu-overlay shadow fixed top-0">
        <div class="nav-links">
            <!--<button id="closeButton" class="text-white absolute top-10 right-10 close-icon">
                <i class="fa-solid fa-xmark" style="font-size: 2rem; position: absolute;"/>
                <i class="fa-solid fa-angle-up" style="font-size: 2rem; position: absolute;"/>
            </button>-->
            <a href="#top" class="text" id="accueilBtn">Accueil</a>
            <a href="#experience" class="text" id="experienceBtn">Experience</a>
            <a href="#projets" class="text" id="projetsBtn">Projets</a>
            <a href="#surmoi" class="text" id="surmoiBtn">Sur moi</a>
        </div>
    </div>
    <button id="openButton" class="text-white absolute top-10 right-10 close-icon" style="transition: 0.6s cubic-bezier(0.76, 0, 0.024, 1); width: 28px; height: 32px; z-index: 10;">
        <i class="fa-solid fa-bars" style="font-size: 2rem; position: absolute; top: 0 ; left: 0 ;"/>
        <i class="fa-solid fa-angle-up" style="font-size: 2rem; position: absolute; top: 0 ; left: 0 ;"/>
    </button>
</div>
<script>
    const header = document.getElementById('header');
    const openButton = document.getElementById('openButton');
    const body = document.getElementsByTagName('body')[0];
    let overlay = false;

    const accueilBtn = document.getElementById('accueilBtn');
    const experienceBtn = document.getElementById('experienceBtn');
    const projetsBtn = document.getElementById('projetsBtn');
    const surmoiBtn = document.getElementById('surmoiBtn');

    accueilBtn.addEventListener('click', () => {
        overlay = false;
        header.style.pointerEvents = 'none'; // Disable interaction
        header.style.transform = 'translateY(-100%)';
        header.style.borderRadius = '0 0 0 100%';
        openButton.style.transform = 'rotate(0deg)';
        body.style.overflowY = 'initial';
    })

    experienceBtn.addEventListener('click', () => {
        overlay = false;
        header.style.pointerEvents = 'none'; // Disable interaction
        header.style.transform = 'translateY(-100%)';
        header.style.borderRadius = '0 0 0 100%';
        openButton.style.transform = 'rotate(0deg)';
        body.style.overflowY = 'initial';
    })

    projetsBtn.addEventListener('click', () => {
        overlay = false;
        header.style.pointerEvents = 'none'; // Disable interaction
        header.style.transform = 'translateY(-100%)';
        header.style.borderRadius = '0 0 0 100%';
        openButton.style.transform = 'rotate(0deg)';
        body.style.overflowY = 'initial';
    })

    surmoiBtn.addEventListener('click', () => {
        overlay = false;
        header.style.pointerEvents = 'none'; // Disable interaction
        header.style.transform = 'translateY(-100%)';
        header.style.borderRadius = '0 0 0 100%';
        openButton.style.transform = 'rotate(0deg)';
        body.style.overflowY = 'initial';
    })

    // Open the header
    openButton.addEventListener('click', () => {
        overlay = !overlay;
        if (overlay) {
            header.style.pointerEvents = 'auto'; // Allow interaction
            header.style.transform = 'translateY(0%)';
            header.style.borderRadius = '0';
            openButton.style.transform = 'rotate(180deg)';
            body.style.overflowY = 'hidden';
        } else {
            header.style.pointerEvents = 'none'; // Disable interaction
            header.style.transform = 'translateY(-100%)';
            header.style.borderRadius = '0 0 0 100%';
            openButton.style.transform = 'rotate(0deg)';
            body.style.overflowY = 'initial';
        }
    });

    // Handle text animation
    let elements = document.querySelectorAll(".text");

    elements.forEach((element) => {
        let innerText = element.innerText;
        element.innerHTML = "";

        let textContainer = document.createElement("div");
        textContainer.classList.add("block");

        for (let letter of innerText) {
            let span = document.createElement("span");
            span.innerText = letter.trim() === ""
                ? "\xa0"
                : letter;
            span.classList.add("letter");
            textContainer.appendChild(span);
        }

        element.appendChild(textContainer);
        element.appendChild(textContainer.cloneNode(true));
    });

    elements.forEach((element) => {
        element.addEventListener("mouseover", () => {
            element.classList.remove("play");
        });
    });
</script>
<script src="https://kit.fontawesome.com/1d8b63688b.js" crossorigin="anonymous"></script>
<slot />
</body>
</html>